<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="urlServer" value="https://localhost:7021/" />
		<add key="requestTimeoutSec" value="5" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="log/logUIAdmin-.log" />
		<add key="serilog:write-to:File.rollingInterval" value="Day" />
		<add key="serilog:write-to:Seq.restrictedToMinimumLevel" value="Information" />
	    <add key="serilog:write-to:File.outputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3}}] {SourceContext}{NewLine}{Message}{NewLine}in method {MemberName} at {FilePath}:{LineNumber}{NewLine}{Exception}{NewLine}"/>
	</appSettings>
</configuration>